<!-- <section class="center slider" data-slick='{
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
  slidesToScroll: 1
    }'>
    <div>
      <img src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/injections.jpg">
    </div>
    <div>
      <img src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/custom-programs.jpg">
    </div>
    <div>
      <img src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/seasonal-recommendations.jpg">
    </div>
  </section> -->
 
 
 <section class="heroCarousel"
    data-slick='{
		"arrows": false,
        "slidesToShow": 3,
        "slidesToScroll": 1,
        "autoplay": true
    }'>
    <a href="{{url}}">
        <div class="heroCarousel-slide">
            <div class="heroCarousel-image-wrapper">
            <!-- <img class="heroCarousel-image" src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/injections.jpg"/> -->
            <img class="heroCarousel-image custom" src="../product_images/uploaded_images/{{theme_settings.gallery_one}}" />
			<h3>Injections</h3>
            </div>
        </div>
    </a>
	<a href="{{url}}">
        <div class="heroCarousel-slide">
            <div class="heroCarousel-image-wrapper">
            <!-- <img class="heroCarousel-image" src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/custom-programs.jpg"/> -->
            <img class="heroCarousel-image custom" src="../product_images/uploaded_images/{{theme_settings.gallery_two}}" />
			<h3>Custom Programs</h3>
            </div>
        </div>
    </a>
	
	<a href="{{url}}">
        <div class="heroCarousel-slide">
            <div class="heroCarousel-image-wrapper">
            <img class="heroCarousel-image" src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/seasonal-recommendations.jpg"/>
			<h3>Seasonal Recommendations</h3>
            </div>
        </div>
    </a>
	
	<a href="{{url}}">
        <div class="heroCarousel-slide">
            <div class="heroCarousel-image-wrapper">
            <img class="heroCarousel-image" src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/injections.jpg"/>
			<h3>Injections</h3>
            </div>
        </div>
    </a>
	<a href="{{url}}">
        <div class="heroCarousel-slide">
            <div class="heroCarousel-image-wrapper">
            <img class="heroCarousel-image" src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/custom-programs.jpg"/>
			<h3>Custom Programs</h3>
            </div>
        </div>
    </a>
	
	<a href="{{url}}">
        <div class="heroCarousel-slide">
            <div class="heroCarousel-image-wrapper">
            <img class="heroCarousel-image" src="https://cdn11.bigcommerce.com/s-e68d28hzpa/product_images/uploaded_images/seasonal-recommendations.jpg"/>
			<h3>Seasonal Recommendations</h3>
            </div>
        </div>
    </a>
</section>

